@import "tailwindcss";

:root {
  --background: #fafaf9;
  --foreground: #0c0a09;
  --muted: #78716c;
  --muted-light: #a8a29e;
  --muted-dark: #57534e;
  --muted-darker: #44403c;
  --border: #d6d3d1;
  --border-light: #e7e5e4;
  --border-hover: #57534e;
  --surface: #f5f5f4;
  --surface-hover: #fafaf9;
  --chart-bar: #f5f5f4;
  --chart-bar-alt: #e7e5e4;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-muted-light: var(--muted-light);
  --color-muted-dark: var(--muted-dark);
  --color-muted-darker: var(--muted-darker);
  --color-border: var(--border);
  --color-border-light: var(--border-light);
  --color-border-hover: var(--border-hover);
  --color-surface: var(--surface);
  --color-surface-hover: var(--surface-hover);
  --color-chart-bar: var(--chart-bar);
  --color-chart-bar-alt: var(--chart-bar-alt);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0c0a09;
    --foreground: #fafaf9;
    --muted: #a8a29e;
    --muted-light: #78716c;
    --muted-dark: #d6d3d1;
    --muted-darker: #e7e5e4;
    --border: #44403c;
    --border-light: #292524;
    --border-hover: #a8a29e;
    --surface: #292524;
    --surface-hover: #44403c;
    --chart-bar: #44403c;
    --chart-bar-alt: #292524;
  }
}

.dark {
  --background: #0c0a09;
  --foreground: #fafaf9;
  --muted: #a8a29e;
  --muted-light: #78716c;
  --muted-dark: #d6d3d1;
  --muted-darker: #e7e5e4;
  --border: #44403c;
  --border-light: #292524;
  --border-hover: #a8a29e;
  --surface: #292524;
  --surface-hover: #44403c;
  --chart-bar: #44403c;
  --chart-bar-alt: #292524;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
